<include href="views/header.html"></include>

<div class="container" id="about">
    <div class="container" id="aboutP">
        <h1>About Us</h1><br>

        <p>
            Pixel Studios provides high-quality prints in a variety of different
            formats. Our process for delivering our products to customers is simple.
            We provide a range of different options such as select sizing, material finish, and frame types.
        </p>
        <p>
            Please check out the products link to view our gallery. We offer many
            select prints that are perfect for postcards, posters, professional photography, and much more.
        </p>
    </div>


    <!--
    <a class="btn btn-info mb-3" href="{{ @BASE }}" >Home</a>
    <a class="btn btn-info mb-3" href="shopCart" >Cart</a>
    -->

</div>

<include href="views/footer.html"></include>
