<include href="views/header.html"></include>

<div class="container">

    <div class="container mt-2">
        <h1>Shopping Cart</h1>
        <form id="form" action="#" method="post" class="form-horizontal">
            <div class="container pt-4" id="div1">

                <div class="row">
                    <repeat group="{{ @items }}" value="{{ @item }}">


                            <!------------------------ List of Products Added to Cart ------------------------->

                                <div class="col-sm-6">
                                    <ul class="no-bullets">
                                        <li class="h4"><b>Title:</b> {{ @item['title'] }} </li>
                                        <li class="h4"><b>Size:</b> {{ @item['size'] }}</li>
                                        <li class="h4"><b>Frame:</b> {{ @item['frame'] }}</li>
                                        <li class="h4"><b>Finish:</b> {{ @item['finish'] }}</li>
                                        <li class="h2"><b>Price:</b> ${{ @item['price'] }}</li>
                                    </ul>
                                </div>

                            <div class="col-sm-6">

                                    <img class="img-fluid mw-50" src="{{ @item['link'] }}" alt="{{ @item['title'] }}">
                             </div>
                        <p></p>

                        <!--line breaks-->
                        <div class="col-sm-6">
                            <hr>
                        </div>
                        <div class="col-sm-6">
                            <br>
                        </div>

                        <!--end repeat-->
                    </repeat>

                </div>
                <br>
            </div>

            <div>
                <button type="submit" class="btn btn-primary d-block mr-3 ml-auto" href="checkout">Checkout</button>
            </div>
        </form>
    </div>
</div>

    <!--
    <a class="btn btn-info mb-3" href="{{ @BASE }}" >Home</a>
    <a class="btn btn-info mb-3" href="shopCart" >Cart</a>
    -->
</div>


<include href="views/footer.html"></include>
