<include href="views/header.html"></include>

<div class="container">
    <h1>Shopping Cart</h1>

    <div class="container">
        <form id="form" action="#" method="post" class="form-horizontal">
            <div class="container" id="div1">
                <hr>


                <div class="row">
                    <repeat group="{{ @items }}" value="{{ @item }}">



                            <!------------------------ List of Products Added to Cart ------------------------->

                                <div class="col-sm-6">
                                    <ul class="no-bullets">
                                        <li><b>Title:</b> {{ @item['title'] }} </li>
                                        <li><b>Size:</b> {{ @item['size'] }}</li>
                                        <li><b>Frame:</b> {{ @item['frame'] }}</li>
                                        <li><b>Finish:</b> {{ @item['finish'] }}</li>
                                        <li><b>Price:</b> ${{ @item['price'] }}</li>
                                    </ul>
                                </div>

                            <div class="col-sm-6">

                                    <img class="img-fluid mw-50" src="{{ @item['link'] }}" alt="{{ @item['title'] }}">
                             </div>
                        <p></p>









                    </repeat>

                </div>



                <hr><br>
            </div>

            <div>
                <button type="submit" class="btn btn-primary d-block mr-3 ml-auto" href="checkout">Checkout</button>
            </div>
        </form>
    </div>
</div>

    <!--
    <a class="btn btn-info mb-3" href="{{ @BASE }}" >Home</a>
    <a class="btn btn-info mb-3" href="shopCart" >Cart</a>
    -->
</div>


<include href="views/footer.html"></include>
