<include href="views/header.html"></include>

<div class="container">

    <div class="container mt-2">
        <h1>Shopping Cart</h1>
        <!-- original form location -->

        <div class="container pt-4 pb-2 mb-2" id="div1">

            <!--if cart is empty, display image if it is-->
            <span class="ml-4 noCart h3" id="noCart"> {{ @noCart }} </span>
            <!--<p class="ml-4 noCart" id="noCartImg">{{ @noCartImg }}</p>-->


                <repeat group="{{ @items }}" value="{{ @item }}">
                    <form action="#" method="post">
                        <div class="container row">

                        <!------------------------ List of Products Added to Cart ------------------------->
                        <div class="col-sm-6">
                            <ul class="no-bullets">
                                <li class="h4"><b>Title:</b>{{ @item['title'] }}</li>
                                <input type="hidden" name="title" value="{{ @item['title'] }}">
                                <li class="h4"><b>Size:</b> {{ @item['size'] }}</li>
                                <li class="h4"><b>Frame:</b> {{ @item['frame'] }}</li>
                                <li class="h4"><b>Finish:</b> {{ @item['finish'] }}</li>
                                <li class="h2"><b>Price:</b> ${{ @item['price'] }}</li>
                            </ul>

                            <div class="container">
                                <button class="btn btn-danger mt-2 ml-4" id="{{ @item['Title'] }}" type="submit">
                                Remove </button>
                            </div>

                        </div>

                        <div class="col-sm-6">
                            <img class="img-fluid mw-50" src="{{ @item['link'] }}" alt="{{ @item['title'] }}">
                        </div>

                        <!--line breaks-->
                        <div class="col-sm-6">


                            <hr>
                        </div>
                        <div class="col-sm-6">
                            <br>
                        </div>

                        </div>

                    </form>

                    <!--end repeat-->
                </repeat>


            <br>
        </div>

        <div class="text-right">
            <a class="btn btn-primary mr-3 mt-4 text-right shadow" href="checkout">Checkout</a>
        </div>

    </div>
</div>

</div>


<include href="views/footer.html"></include>
