<include href="views/header.html"></include>

<body id="main">

<div class="container mb-5 pb-5">

    <!--carousel-->
    <div class="slideshow mb-3 mx-1">

        <!-- navigation -->
        <div class="navigation m-auto mt-2">
            <nav class="navbar navbar-expand-sm text-right">

                <a href="#" class="navbar-brand ">
                    <img src="images/logo.png" width="200" height="200" alt="PixelStudios logo">
                </a>
                <button class="navbar-toggler" type="button"
                        data-toggle="collapse" data-target="#myTogglerNav"
                        aria-controls="myTogglerNav"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse justify-content-end pr-4" id="myTogglerNav">
                    <div class="navbar-nav justify-content-center" id="navLinks">
                        <a class="nav-item nav-link font-weight-bold h3" href="https://narrowsmith.greenriverdev.com/305/Resume/index.html">Cart</a>
                        <a class="nav-item nav-link font-weight-bold h3" href="https://narrowsmith.greenriverdev.com/305/GuestBook/index.php" id="centerLink">About Us</a>
                        <a class="nav-item nav-link font-weight-bold h3" href="https://github.com/narrowsmith419" target="_blank">Log In</a>
                    </div><!-- navbar -->
                </div><!-- collapse -->
            </nav><!-- end nav -->
        </div> <!-- end nav -->



        <!--<div class="frame p-3 m-2 shadow">-->


            <div class="container py-3 border rounded " id="card">
                <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img class="d-block w-100 slideImage" src="images/LONG_EXP_CAR.jpg" alt="First slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100 slideImage" src="images/dundee graffiti.jpeg" alt="Second slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100 slideImage" src="images/parismotorbike.jpeg" alt="Third slide">
                        </div>
                    </div>
                </div>

            </div> <!-- end carousel card -->

        <!--</div> &lt;!&ndash; end frame &ndash;&gt;-->

    </div>


    <!--Picture Info Card-->
    <div class="row p-0 ">

        <div class="col-sm-3 text-left border shadow ml-4 py-2 mt-3" id="plaque">
            <p class="mb-0 pb-0 text-truncate h6" >"Title" sdfdsfsdgsdgsdgsdgsdgsdgsdgsdg</p>
            <p class="mb-0 pb-0 h6">Artist</p>
            <p class="mb-0">Year</p>
        </div>

    </div>

</div>



<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>