<include href="views/header.html"></include>

<!--main container-->

<!--carousel-->
<!--<div class="slideshow mb-3 mx-0">-->

    <!--Picture Info Card-->
            <div class="col-xs-3 text-left border shadow ml-4 p-2 " id="plaque">

                    <a class="mb-0 pb-0 text-truncate h6">"Title", </a>
                    <a class="mb-0 pb-0 h6">Artist</a>
                <br>
                    <a class="mb-0 pb-0">Year</a>
                <div class="d-flex flex-row-reverse m-0 p-0">
                    <a class="text-right h3 font-weight-bold pl-5" href="https://narrowsmith.greenriverdev.com/328/Pixel_Studios/"
                       id="buy">buy print</a>
                </div>

            </div> <!-- end info card -->



    <!-- Image carousel -->
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100 slideImage" src="images/LONG_EXP_CAR.jpg" alt="First slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100 slideImage" src="images/dundee graffiti.jpeg" alt="Second slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100 slideImage" src="images/parismotorbike.jpeg" alt="Third slide">
            </div>
        </div>
    </div>

<!--</div>-->


<include href="views/footer.html"></include>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>