<include href="views/header.html"></include>



    <div class="container">

        <h1>Products</h1>
        <form action="#" method="post" class="row">
        <!--<div class="row">-->

            <!-- use fat free to populate this page, generate from an array -->

            <repeat group="{{ @products }}" value="{{ @product }}">


                <div class="col-sm-4">
                    <div class="mb-3">
                        <div class="card-body p-2">
                            <img class="card-img-top" id="link" src="{{ @product['Link'] }}" alt="{{ @product['Title'] }}">
                            <h3 class="productTitle mt-2" id="title" >"{{ @product['Title'] }}"</h3>
                            <p class="productDescription pl-1">{{ @product['Info'] }}</p>
                            <p class="text-right">
                                <button class="btn btn-success" id="{{ @product['Title'] }}" type="submit">
                                    Customize </button>
                            </p>
                        </div>
                    </div>
                </div>

            </repeat>


        <!--</div>-->
        </form>

    </div>



   <!-- <a class="btn btn-info mb-3" href="{{ @BASE }}" >Home</a>
    <a class="btn btn-info mb-3" href="aboutUs" >About Us</a>
    -->
</div>

<include href="views/footer.html"></include>

