<include href="views/header.html"></include>

<div class="container">
    <h1>Products</h1>

    <div class="container">
        <div class="row">

            <!-- use fat free to populate this page, generate from an array -->

            <div class="col-sm-4">
                <div class="card mb-2">
                    <div class="card-body">
                        <img src="images/dundee graffiti.jpeg" alt="Photo1" style="width:100%">
                        <h3>Photo 1</h3>
                        <p class="price">$19.99</p>
                        <p>Some text about the photo..</p>
                        <p><button>Add to Cart</button></p>
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="card mb-2">
                    <div class="card-body">
                        <img src="images/dundee graffiti.jpeg" alt="Photo1" style="width:100%">
                        <h3>Photo 1</h3>
                        <p class="price">$19.99</p>
                        <p>Some text about the photo..</p>
                        <p><button>Add to Cart</button></p>
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="card mb-2">
                    <div class="card-body">
                        <img src="images/dundee graffiti.jpeg" alt="Photo1" style="width:100%">
                        <h3>Photo 1</h3>
                        <p class="price">$19.99</p>
                        <p>Some text about the photo..</p>
                        <p><button>Add to Cart</button></p>
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="card mb-2">
                    <div class="card-body">
                        <img src="images/dundee graffiti.jpeg" alt="Photo1" style="width:100%">
                        <h3>Photo 1</h3>
                        <p class="price">$19.99</p>
                        <p>Some text about the photo..</p>
                        <p><button>Add to Cart</button></p>
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="card mb-2">
                    <div class="card-body">
                        <img src="images/dundee graffiti.jpeg" alt="Photo1" style="width:100%">
                        <h3>Photo 1</h3>
                        <p class="price">$19.99</p>
                        <p>Some text about the photo..</p>
                        <p><button>Add to Cart</button></p>
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="card mb-2">
                    <div class="card-body">
                        <img src="images/dundee graffiti.jpeg" alt="Photo1" style="width:100%">
                        <h3>Photo 1</h3>
                        <p class="price">$19.99</p>
                        <p>Some text about the photo..</p>
                        <p><button>Add to Cart</button></p>
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="card mb-2">
                    <div class="card-body">
                        <img src="images/dundee graffiti.jpeg" alt="Photo1" style="width:100%">
                        <h3>Photo 1</h3>
                        <p class="price">$19.99</p>
                        <p>Some text about the photo..</p>
                        <p><button>Add to Cart</button></p>
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="card mb-2">
                    <div class="card-body">
                        <img src="images/dundee graffiti.jpeg" alt="Photo1" style="width:100%">
                        <h3>Photo 1</h3>
                        <p class="price">$19.99</p>
                        <p>Some text about the photo..</p>
                        <p><button>Add to Cart</button></p>
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="card mb-2">
                    <div class="card-body">
                        <img src="images/dundee graffiti.jpeg" alt="Photo1" style="width:100%">
                        <h3>Photo 1</h3>
                        <p class="price">$19.99</p>
                        <p>Some text about the photo..</p>
                        <p><button>Add to Cart</button></p>
                    </div>
                </div>
            </div>


        </div>

    </div>

    </div>


   <!-- <a class="btn btn-info mb-3" href="{{ @BASE }}" >Home</a>
    <a class="btn btn-info mb-3" href="aboutUs" >About Us</a>
    -->
</div>

<include href="views/footer.html"></include>

