
#main{
    background-color: rgba(0, 0, 0, 0.9);
    color: whitesmoke;
}

a{
    color: whitesmoke;
}

#centerLink{
    color: #0192fc;
}

#buy{
    color: #0192fc;
}

#hamburg{
    background-color: #0192fc;
    color: whitesmoke;
}

a:hover{
    color:transparent;
}


.navigation{
    /*background-color: #000;
    opacity: .5;*/
    width: 100%;
    height:80px;
    position: relative;
    top: 110px;
    z-index: 1;
    border-radius: 10px;
}

.slideshow{

    width:100%;
    height:100%;
    top: -110px;
    position: relative;
    z-index: 3;
}

#plaque{
    background-color: transparent;
    color: #f7f7f7;
    width: 25%;
    /*height:80px;*/
    position: relative;
    top: 730px;
    z-index: 2;

}

#card{
    width: 100%;
    background-color: white;

}

img{

    /*width: 100px;
    height: 750px;
    object-fit: cover;*/
}

.slideImage{
    width: 100px;
    height: 750px;
    object-fit: cover;

}


