
#main{
    background-color: rgba(35, 35, 35, 0.9);
    color: whitesmoke;
}

a{
    color: whitesmoke;
}

#centerLink{
    color: #0192fc;
}

#prod {
    color: #0192fc;
}

#buy{
    color: #0192fc;
}

#hamburg {
    background-color: #0192fc;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(245,245,245, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
    border-color: whitesmoke;
}


a:hover, #centerLink:hover {
    color:transparent;
}

.navigation{
    /*background-color: #000;
    opacity: .5;*/
    /* background-color: black; */
    width: 100%;
    height:80px;
    position: relative;
    top: 110px;
    z-index: 1;
    /*border-radius: 10px; */
}

.slideshow{

    width:100%;
    height:100%;
    top: -110px;
    position: relative;
    z-index: 3;
}

#plaque{
    background-color: transparent;
    color: #f7f7f7;
    width: 25%;
    /*height:80px;*/
    position: relative;
    top: 730px;
    z-index: 2;

}

#card{
    width: 100%;
    background-color: white;

}

img{

    /*width: 100px;
    height: 750px;
    object-fit: cover;*/
}

.slideImage{
    width: 100px;
    height: 750px;
    object-fit: cover;

}

.bg-success {
    background-color: black !important;
}

.text-center {
    color: white;
}

.d-inline-block {
    width: 125px;
    height: 2px;
}

h6 {
    color: #0192fc !important;
}